.header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #545252
}

.header.sticked {
    height: 70px;
}

.header .h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-default);
    font-family: var(--font-primary);
}